.logo {
    width: 27px;
    height: 16px;

}

.mainlogo {
    display: flex;
    justify-content: center;
    
}

.logoBtn {
    display: flex;
    align-items: center;
    color: #FAFAFA;
    gap: 10px;
    background: none;
}
.logoBtn:hover,
.logoBtn:focus {
    cursor: pointer;

}